<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<title>NYT Scraper</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/Scraper/public/app.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
